.events {
    margin-top: 25px;
    min-height: 572px;
    height: auto;
}

.events__container {
    width: 100%;
    height: auto;

    padding-top: 50px;
}

.events-list {
    display: none;

    width: 100%;
    height: auto;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 20px;
    justify-content: flex-start;

}

.events-list.is-active {
    display: flex !important;
}

.l-card {
    position: relative;

    width: 32%;
    height: 15%;
}

.l-card .card-content {
    padding: 1.5em;
}

.l-card .card-description p {
    margin-bottom: 0;

    font-size: 1em;
}

.l-card .card-description h2 {
    align-self: flex-start;

    font-size: 1.8em;
}

.l-card .card-description p {
    margin-bottom: 0;

    font-size: 1.5em;
}
.l-card .card.back {
    width: 100%;
}

.l-card .card.back p {
    height: 100%;

    padding: 1.5em;

    font-size: 1em;
    font-weight: 500;
    line-height: 1.4em;

    margin-bottom: 0;
}

