@import "reset.css";
@import "upcoming.css";
@import "soon.css";
/*@import "far-events.css";*/
@import "row.css";
@import "month.css";
@import "events.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

html, body{
    min-height: 100%;
    min-width: 100%;
    font-family: Roboto;
    color: black;
}

.wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
    width: 100%;
}

.main-content {
    width: 100%;
    height: auto;
}

.typepage {
    width: 100%;
    height: auto;
    padding-top: 50px;
    /*margin-bottom: 30px;*/
    font-size: 15px;
    line-height: 21.12857144px;
}

.container {
    height: auto;
    width: 1170px;

    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card {
    position: relative;
    display: block;

    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
}

.card div {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card .back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.front {
    height: inherit;
    position: relative;
    background-color: black;
    border-radius: 20px;
    overflow: hidden;
}

.back {
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: inherit;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    width: 100%;
    background-color: #262525;

    border-radius: 20px;
}

input {
    display: none;
}

:checked + .card {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

.event-image {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 20px;
}


.swiper-button-prev {
    position: relative !important;
    top: 0 !important;
    margin-top: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

.swiper-button-next {
    position: relative !important;
    top: 0 !important;
    margin-top: 0 !important;
    left: 0 !important;
    right: 0 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 6vh !important;
    align-self: center;
}

.event-image:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}

[class$="image"] {
    transition: 1.5s; /* Время эффекта */
}

.bp-2 {
    display: none !important;
}

.bp-mobile-enable {
    display: none !important;
}

