@import "reset.css";
@import "upcoming.css";
@import "main.css";


@media (min-width: 320px) {
    html{
        min-height: 100%;
        min-width: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .upcoming {
        display: none;
    }

    .month-sorting {
        margin-top: 0;
    }

    .month-sorting__container {
        gap: 30px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
    }

    .month-button {
        width: 100%;
    }

    .l-card {
        width: 100%;
        height: 15%;
    }

    .l-card .card.back p {
        padding: 1.5em;

        font-size: 0.9em;
        line-height: 1.3em;
    }

    .l-card .card-description p {
        font-size: 1.2em;
    }

    .l-card .card-description h2 {
        font-size: 1.4em;
    }

    .l-card .card-content {
        padding: 1em;
    }
}

@media (min-width: 578px) {
    html{
        min-height: 100%;
        min-width: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .upcoming {
        display: none;
    }

    .month-sorting {
        margin-top: 0;
    }

    .month-sorting__container {
        gap: 30px;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto auto;
    }

    .month-button {
        width: 212px;
    }

    .l-card {
        width: 49%;
        height: 15%;
    }

    .l-card .card.back p {
        padding: 1.5em;

        font-size: 0.9em;
        line-height: 1.3em;
    }

    .l-card .card-description p {
        font-size: 1.2em;
    }

    .l-card .card-description h2 {
        font-size: 1.4em;
    }

    .l-card .card-content {
        padding: 1em;
    }
}


@media (min-width: 992px) {
    html{
        min-height: 100%;
        min-width: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .upcoming {
        display: flex;
    }

    .upcoming .card {
        height: 350px;
    }

    .card.back p {
        padding: 2em;

        font-size: 1.2em;
        line-height: 1.5em;
    }

    .card-content {
        padding: 1.7em;
    }

    .card-description h2 {
        font-size: 2em;
    }

    .card-description p {
        font-size: 1.5em;
    }

    .l-card {
        width: 32%;
        height: 15%;
    }

    .l-card .card.back p {
        padding: 1.5em;

        font-size: 0.8em;
        line-height: 1.3em;
    }

    .l-card .card-description p {
        font-size: 1em;
    }

    .l-card .card-description h2 {
        font-size: 1.2em;
    }

    .l-card .card-content {
        padding: 1.2em;
    }

    .month-button {
        width: 126px;
    }

    .month-sorting {
        margin-top: 110px;
    }

    .month-sorting__container {
        gap: 36px;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto;
    }
}


@media (min-width: 1200px){
    html{
        min-height: 100%;
        min-width: 100%;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .upcoming {
        display: flex;
    }

    .upcoming .card {
        height: 415px;
    }

    .card.back p {
        padding: 2em;

        font-size: 1.4em;
        line-height: 1.5em;
    }

    .card-content {
        padding: 2em;
    }

    .card-description h2 {
        font-size: 2.5em;
    }

    .card-description p {
        font-size: 1.8em;
    }

    .l-card {
        width: 32%;
        height: 15%;
    }

    .l-card .card.back p {
        padding: 1.5em;

        font-size: 0.9em;
        line-height: 1.4em;
    }

    .l-card .card-description p {
        font-size: 1.2em;
    }

    .l-card .card-description h2 {
        font-size: 1.5em;
    }

    .l-card .card-content {
        padding: 1.5em;
    }

    .month-button {
        width: 156px;
    }

    .month-sorting {
        margin-top: 110px;
    }

    .month-sorting__container {
        gap: 36px;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto;
    }
}

@media (min-width: 1400px){
    .upcoming {
        display: flex;
    }

    .upcoming .card {
        height: 480px;
    }

    .card.back p {
        padding: 2em;

        font-size: 1.5em;
        line-height: 1.5em;
    }

    .card-content {
        padding: 2em;
    }

    .card-description h2 {
        font-size: 3em;
    }

    .card-description p {
        font-size: 2em;
    }

    .l-card {
        width: 32%;
        height: 15%;
    }

    .l-card .card.back p {
        padding: 1.5em;

        font-size: 1.1em;
        line-height: 1.4em;
    }

    .l-card .card-description p {
        font-size: 1.5em;
    }

    .l-card .card-description h2 {
        font-size: 1.8em;
    }

    .l-card .card-content {
        padding: 1.5em;
    }

    .month-button {
        width: 185.83px;
    }

    .month-sorting {
        margin-top: 110px;
    }

    .month-sorting__container {
        gap: 36px;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto;
    }

}

