@import "reset.css";
@import "month.css";
@import "upcoming.css";
@import "soon.css";
@import "far-events.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');


@media (max-width: 1920px) {

    .upcoming-text__container {
        height: 15%;
    }

    .upcoming-event__container {
        height: 85%;
    }

}

@media (max-width: 1200px) {

    .bp-1 {
        display: none
    }

    .bp-2 {
        display: flex !important;
    }

    .month__button {
        width: 30%;
    }

    .month__text {
        font-size: 0.2em;
    }

    .month-scroll {
        width: 85vw;
        height: 20vh;
    }

    .month-scroll__container {
        width: 85vw;
        height: 10vh;
    }

    .far__container {
        width: 48%;
    }

    .upcoming-text__container {
        height: 15%;
    }

    .upcoming-event__container {
        height: 85%;
    }
}

@media (max-width: 960px) {
    .month-scroll {
        height: 10vh;
        width: 100vw;
    }

    .month-scroll__container {
        width: 100vw;
    }

    .month__text {
        font-size: 0.15em;
    }

    .upcoming {
        width: 100vw;
        height: 95vh;
    }

    .upcoming__text {
        font-size: 0.21em;
    }

    .upcoming__container {
        height: 85vh;
        width: 100vw;
    }

    .upcoming-event-name {
        top: 20px;
        left: 20px;
        right: 20px;
        font-size: 35px;
    }

    .upcoming-data {
        bottom: 20px;
        left: 20px;
        right: 20px;
        font-size: 25px;
    }

    .event-image {
        border-radius: 0 !important;
    }

    .front {
        border-radius: 0;
    }

    .back {
        border-radius: 0;
    }

    .upcoming-text__container {
        height: 10%;
    }

    .upcoming-event__container {
        height: 90%;
    }

    .soon-events {
        width: 100vw;
        height: 80vh;
    }

    .soon__text {
        font-size: 0.18em;
    }

    .soon-events__container {
        height: 80vh;
        width: 100vw;
    }

    .soon-text__container {
        height: 10%;
    }

    .events__container {
        height: 90%;
    }

    .soon-event-name {
        top: 20px;
        left: 20px;
        right: 20px;

        font-size: 25px;
        line-height: 25px;
    }

    .soon-data {
        bottom: 20px;
        left: 20px;
        right: 20px;

        font-size: 18px;
    }

    .far-events {
        width: 100vw;
        height: 90vh;
    }

    .far-events__container {
        height: 75vh;
        width: 100vw;
    }

    .far-events-text {
        font-size: 0.15em;
    }

    .far_Swiper {
        width: 100%;
    }

    .flex {
        height: 90%;
    }


    .far-events-text__container {
        height: 10%;
    }

    .far-events-name {
        top: 15px;
        left: 15px;
        right: 15px;

        font-size: 20px;
        line-height: 23px;

    }

    .far-data {
        bottom: 15px;
        left: 15px;
        right: 15px;

        font-size: 15px;
        line-height: 23px;
    }

}

@media (max-width: 776px) {

    .bp-mobile-enable {
        display: block !important;
    }

    .bp-mobile-disable {
        display: none !important;
    }

    .month-scroll {
        position: fixed;
        height: 8vh;
        width: 100vw;
        z-index: 100;
    }

    .month-scroll__container {
        width: 100vw;
        height: 8vh;
        border-radius: 0;
    }

    .month-scroll__content {
        width:  100%;
        height: 8vh;
        margin: 0;
    }

    .month__text {
        font-size: 0.11em;
    }

    .upcoming {
        height: 100vh;
    }

    .upcoming-event-name {
        top: 10px;
        left: 10px;
        right: 10px;
        font-size: 20px;
        line-height: 30px;
    }

    .upcoming-data {
        bottom: 10px;
        left: 10px;
        right: 10px;
        font-size: 15px;
    }

    .upcoming-event__container {
        margin-top: 15px;
    }

    .upcoming-description {
        font-size: 10px;
        line-height: 20px;

        padding: 15px 15px;
    }

}