.month-scroll {
    position: relative;
    /*max-width: 1380px;*/
    width: 85vw;
    height: 20vh;
    /*margin-top: 50px;*/

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-shrink: 0;
}

.month-scroll__container {
    position: relative;
    width: 85vw;
    height: 10vh;
    border-radius: 1vh;

    background: #CCE5FF;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.month-scroll__content {
    position: relative;
    width:  90%;
    height: 10vh;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.month__blocks {
    flex-basis: 74.7%;
    justify-content: space-between;
}

.swiper-slide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100%;
}

.month-arrow_left {
    flex-basis: 12.65%;
    display: flex;
    justify-content: flex-start;
}

.month-arrow_right {
    flex-basis: 12.65%;
    display: flex;
    justify-content: flex-end;
}

.month__button {
    scroll-snap-align: center;
    position: relative;
    width: 22%;
    height: 6.5vh;

    background: #156BC5;
    border-radius: 1vh;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.month__button:hover {
    background: #004491;
}

.month__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 3.5vh;
    line-height: 28px;

    color: #FFFFFF;
}


