.upcoming {
    font-family: 'Roboto';

    position: relative;
    width: 100%;
    height: 860px;

    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.upcoming__container {
    width: 100%;
    display: grid;
    grid-template-areas: "one one one one"
                        "two two three three";
    grid-template-rows: 52.79% 44.30%;
    height: 100%;
    gap: 25px;
}

.area-1 {
    grid-area: one;
}

.area-2 {
    grid-area: two;
}

.area-3 {
    grid-area: three;
}

.upcoming-event__container img {
    opacity: 0.5;
}

.event-image {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 10px !important;
}

.upcoming-event-name {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    color: #FFFFFF;

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.upcoming-data {
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #FFFFFF;
}

.upcoming-description__container {
    height: inherit;
    width: inherit;

    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
}

.upcoming-description {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;

    padding: 20px 20px;

    color: #FFFFFF;
}
